@font-face {
	font-family: "Montserrat";
	src: url(../../resources/fonts/Montserrat-Regular.ttf) format('truetype');
}


@font-face {
	font-family: "MontserratBold";
	src: url(../../resources/fonts/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
	font-family: "NunitoExtraBold";
	src: url(../../resources/fonts/Nunito-ExtraBold.ttf) format('truetype');
}

html {font-size: 20px;}

body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat";
}

header {
	display: flex;
	position: fixed;
	width: 100%;
	height: 80px;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	opacity: 0.75;
}

nav {
	display: inline-flex;
	position: fixed;
	width: 90%;
	justify-content: center;
	font-size: 0.9rem;
}

ul {
	list-style: none;
	text-align: center;
}

ul a {
	width: 150px;
	text-decoration: none;
	position: relative;
	display: inline-block;
	transition: color .2s;
}

a, a:visited {
	color: #000;
}

li {
	display: inline-block;
}

a:before, a:after {
	content: "";
	position: absolute;
	height: 10px;
	top: -31px;
	right: 50%;
	left: 50%;
	background: #5360FE;
	transition: .8s;
}

a:hover:before {left: 0; border-bottom-left-radius: 10px;}
a:hover:after {right: 0; border-bottom-right-radius: 10px;}

a:hover {font-family: "MontserratBold"; color: #292930; }

h1 {
	font-family: "NunitoExtraBold";
	font-size: 3.2rem;
	line-height: 3.25rem;
}

h3 {
	font-family: "MontserratBold";
	font-size: 1.2rem;
}

section {
	padding-top: 50px;
}

.razdel {
	display: grid;
	grid-template: 80px repeat(6, auto) / repeat(12, 1fr);
	grid-gap: 5px;
}

.firstBG {
	display: grid;
	grid-template: repeat(2, auto) / repeat(12, 1fr);
	background-image: url(../images/firstPartBG.png);
	background-size: cover;
	background-repeat: no-repeat;
	grid-row: 2 / 4;
	grid-column: 1 / 13;
}

.izdeliya {
	grid-row: 1 / 2;
	grid-column: 2 / 7;
}

.predlozheniya {
	grid-row: 2 / 3;
	grid-column: 8 / 12;
}

.raboty {
	grid-row: 4 / 5;
	grid-column: 2 / 12;
}

.imageWindow {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 450px;
	height: 350px;
	border-radius: 16px;
}

.imageWindow img {
	height: auto;
	width: 100%;
}

.obucheniye {
	grid-row: 5 / 6;
	grid-column: 2 / 12;
}

.contacts {
	grid-row: 6 / 7;
	grid-column: 2 / 12;
}

